body,
html,
h1,
h2,
h3,
p,
ul,
dd {
	margin: 0;
	padding: 0;
}

body,
html {
	height: 100%;
}

html {
	font-family: system-ui, -apple-system, BlinkMacSystemFont, Segoe UI,
		Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans,
		Helvetica Neue, sans-serif;
	font-size: 16px;
	line-height: 1.5;
}

body {
	display: flex;
	flex-direction: column;
}

h1,
h2,
h3 {
	font-weight: normal;
}

h2 {
	font-size: 2rem;
}

h3 {
	font-size: 1.5rem;
}

a {
	color: inherit;
}

body {
	> header {
		background: white;
		box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 2px 0px;
		padding: .5rem 1rem;
		position: sticky;
		top: 0;
		z-index: 1;

		nav {
			display: flex;
			justify-content: space-between;
		}

		div {
			align-items: center;
			column-gap: 1rem;
			display: flex;
		}

		img {
			height: 1.5rem;
		}

		a {
			text-decoration: none;

			&:hover {
				text-decoration: underline;
			}
		}
	}
}

main {
	background: rgb(245, 245, 245);
	display: flex;
	flex: 1 0 auto;
	flex-direction: column;
	padding: 0 1.5em 1.5em;
	row-gap: 4rem;

	> section {
		align-items: center;
		display: flex;
		flex-direction: column;
		justify-content: center;
		row-gap: 3rem;
	
		&:not(:first-child) {
			border-top: 1px solid rgba(0, 0, 0, 0.1);
			padding-top: 3rem;
		}
	}
}

#hero {
	position: relative;
	row-gap: 0;

	.default-example {
		perspective: 30em;
		perspective-origin: top;
		margin: 0 0 6em;
	}

	.example-element {
		width: 12em;
		height: 12em;
		transform-style: preserve-3d;
		/*
		transform: rotate3d(0, 1, 0, -55deg);
		*/
		animation: 5s ease-in-out 0s infinite alternate rotation;
	}

	.face {
		display: flex;
		align-items: center;
		justify-content: center;
		width: 100%;
		height: 100%;
		position: absolute;
		backface-visibility: inherit;
		color: #fff;
		box-sizing: border-box;
	}

	.back {
		background: 0 -.7em/cover no-repeat url('/Hips.svg');
		transform: rotateY(90deg) translateZ(-1.5em);
	}

	.bottom {
		transform: rotateX(-90deg) translateZ(6em);
		box-shadow: inset 0 -1.5em 1.5em rgba(0, 115, 150, 0.3), 0.15em
			0.15em 0.45em rgba(237, 139, 0, 0.6);
	}

	.card {
		display: flex;
		align-items: center;
		justify-content: center;
		width: 3em;
		height: 4.5em;
		position: absolute;
		backface-visibility: inherit;
		color: white;
		background: rgba(255, 255, 255, .7);
		border-radius: 10px;
		box-sizing: border-box;
		text-transform: uppercase;
	}

	#card1 {
		background: rgba(0, 115, 150, .85);
		transform-origin: 0 bottom;
		translate: 7.5em 3.3em 1.5em;
		transform: rotateX(19deg);
	}

	#card2 {
		background: rgba(237, 139, 0, .85);
		transform: rotateX(-19deg);
		transform-origin: 0 bottom;
		translate: 7.5em 3.3em -1.5em;
	}

	#card3 {
		background: rgba(179, 8, 56, .85);
		transform: rotateX(90deg);
		translate: 7.5em 5.5em 0;
	}

	#card4 {
		background: rgba(0, 115, 150, .85);
		transform: rotateX(19deg);
		transform-origin: 0 bottom;
		translate: 7.5em 7.5em 3em;
	}

	#card5 {
		background: rgba(237, 139, 0, .85);
		transform: rotateX(-19deg);
		transform-origin: 0 bottom;
		translate: 7.5em 7.5em 0;
	}

	#card6 {
		background: rgba(0, 115, 150, .85);
		transform: rotateX(19deg);
		transform-origin: 0 bottom;
		translate: 7.5em 7.5em 0;
	}

	#card7 {
		background: rgba(237, 139, 0, .85);
		transform: rotateX(-19deg);
		transform-origin: 0 bottom;
		translate: 7.5em 7.5em -3em;
	}

	.card span {
		font-size: 2em;
	}

	h1 {
		font-size: 1.5rem;
	}

	h2 {
		text-align: center;

		strong {
			white-space: nowrap;
		}
	}

	p {
		display: flex;
		column-gap: 1rem;
	}
}

@keyframes rotation {
	from {
		transform: rotate3d(0, 1, 0, -60deg);
	}

	to {
		transform: rotate3d(0, 1, 0, -50deg);
	}
}

.cta {
	border-radius: 0.5rem;
	color: white;
	font-weight: bold;
	padding: 1rem 2rem;
	text-decoration: none;

	&:not([hidden]) {
		display: inline-block;
	}

	&:nth-child(odd) {
		background: rgb(0, 115, 150);
	}

	&:nth-child(odd):hover {
		box-shadow: 0 0 10px rgba(0, 115, 150, .75);
	}

	&:nth-child(even) {
		background: rgb(237, 139, 0);
	}

	&:nth-child(even):hover {
		box-shadow: 0 0 10px rgba(237, 139, 0, .75);
	}
}

dt {
	font-weight: 600;
}

#features dl {
	column-gap: 2rem;
	display: grid;
	grid-template-columns: repeat(1, minmax(0, 1fr));
	row-gap: 2rem;
}

@media (min-width: 1024px) {
	#features dl {
		grid-template-columns: repeat(2, minmax(0, 1fr));
		max-width: 56rem;
	}
}

#features dd {
	margin-top: 0.5rem;
}

#example-apps {
	article {
		display: flex;

		&:not(:first-of-type) {
			border-top: 1px solid rgba(0, 0, 0, 0.1);
			padding-top: 3rem;
		}

		> div {
			display: flex;
			flex-direction: column;
			flex-grow: 1;
			row-gap: 2rem;

			> p:last-child {
				display: flex;
				column-gap: 1rem;
			}
		}
	}
	
	ul {
		display: grid;
		grid-template-columns: 50% 50%;
		list-style-position: inside;
	}

	img,
	iframe {
		border-radius: 1rem;
	}

	iframe {
		aspect-ratio: 16 / 9;
	}
}

@media (max-width: 1023px) {
	#example-apps {
		article {
			flex-direction: column;
			row-gap: 2rem;
		}

		img,
		iframe {
			max-width: 100%;
		}
	}
}

@media (min-width: 1024px) {
	#example-apps {
		article {
			column-gap: 2rem;
			width: 85rem;
	
			&:nth-child(odd) {
				flex-flow: row;
			}
	
			/*
			&:nth-child(even) {
				flex-flow: row-reverse;
			}
			*/
		}

		img,
		iframe {
			flex: 0 0 35rem;
			max-width: 35rem;
		}
	}
}

footer {
	align-items: center;
	display: flex;
	flex-direction: column;
	padding: 1rem 0;

	p {
		max-width: 80%;
	}
}
